.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container > div {
    width: clamp(350px, 80vw, 800px);
    height: clamp(650px, 80vh, 2000px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.container > div div {
    position: absolute;
}

.container > div button {
    background-color: black !important;
    color: white !important;
}

.container > div input:focus{
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.container > div input {
    width: 100%;
    font-size: clamp(16px, 7vw, 48px);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid #d8c19f;
}

.container > div input::placeholder {
    font-size: clamp(16px, 4vw, 32px);
}


.container > button {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: clamp(16px, 8vw, 66px);
    height: clamp(16px, 8vw, 66px);
    color: rgba(0, 0, 0, 0.5);
}

.container > button > svg {
    width: clamp(16px, 8vw, 66px);
    height: clamp(16px, 8vw, 66px);
}

.label {
    width: 100%;
    display: flex;
    padding: 0 0.4rem;
}

.margin1 {
    bottom: calc(50% + 5em);
}

.margin2 {
    bottom: calc(50% + 0em);
}

.margin3 {
    bottom: calc(50% - 5em);
}

.margin4 {
    bottom: calc(50% - 15em);
}