.navbar {
    height: 100vh;
    width: 265px;
    top: 0;
    left: 0;
    background-color: #1e1e2d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #9899ac;
    position: fixed;
}

.bottomContent {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 0 0.4rem;
}

.bottomContent > svg {
    cursor: pointer;
    transition: color .3s ease;
    width: 1rem;
    height: 1rem;
}

.bottomContent > svg:hover {
    color: #009ef7;
}

.topContent {
    margin: 1rem 0;
}

.navItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0.2rem 0;
    cursor: pointer;
    transition: all .3s ease;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.navItem > svg {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem;
    transition: color .3s ease;
}

.navItem:hover {
    color: white;
    background-color: #1b1b28;
}

.navItem:hover > svg {
    color: #009ef7;
}

.active {
    background-color: #1b1b28;
    color: white;
}

.active > svg {
    color: #009ef7;
}