.buttonSubmit {
    align-self: flex-start;
    border: 0.5px solid #a6a6a6;
    background-color: #f2f2f2; 
    border-radius: 0.15em;
    transition: all 0.2s ease-in-out;
    position: relative;
    min-width: 150px;
}

.buttonSubmit:hover {
    background-color: #d9d9d9; 
}

.buttonSubmit:disabled {
    border: 0.5px solid #d9dad7;
    color: #a6a6a6;
}

.buttonSubmit > span {
    padding: 0.5em 1em 0.5em 1em;
    font-weight: lighter;
}

.spin {
    animation-name: spin;
    animation-duration: 750ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    width: 32px;
    height: 32px;
}

.buttonSubmit svg {
    fill: white;
    width: 14px;
    height: 14px;
}

.buttonSubmit .big {
    width: 16px !important;
    height: 16px !important;
}

.buttonSubmit > div {
    /*border-left: 0.5px solid #a6a6a6;*/
    position: unset !important;
    width: 18px;
    overflow: visible;
}

.buttonSubmit:disabled {
    color: #a6a6a6;
}

.buttonSubmit:disabled > div > svg {
    /*border-left: 0.5px solid #d9dad7;*/
    fill: #a6a6a6;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}