html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-black {
  border: none;
  padding: 0.25em 0.75em;
  border-radius: 0.15em;
  background-color: black;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-black:hover {
  color: white;
  background-color: rgb(75, 75, 75);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  transition: background-color 5000s ease-in-out 0s;
}